# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

nonfree/

config/github-copilot/terms.json
config/github-copilot/hosts.json

config/nvim/pack
config/nvim/plugged
config/coc
config/pulse
config/systemd
config/iterm2
config/nvim/local.vim

configstore
.DS_Store
*.old
config/QtProject

