# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode
nonfree/

config/github-copilot/terms.json
config/github-copilot/hosts.json

config/nvim/pack
config/nvim/plugged
config/coc
config/pulse
config/systemd
config/iterm2
config/nvim/local.vim

configstore
.DS_Store
*.old
config/QtProject

config/.mono/
config/Microsoft*
config/NuGet/
config/wireshark/
config/xbuild/

experimental

simple-update-notifier
config/mc/ini
config/github-copilot
config/nvim/plugin/packer_compiled.lua
weechat
config/fossil.db
config/sqls/config.yml
config/compterm/
